.btn-blue {
	background-color: #4e4e4e;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
	background-color: #7f7f7f;
	color: white;